<div class="planning">

  <header class="header">
    <div class="left">
      <h2>Страница планирования</h2>
    </div>
  </header>

	<div class="expenses">
		<div class="expenses__header">
			<h4 class="title">Расходы</h4>
			<p class="common-balance">Общий остаток: <span>78 999.21 р</span></p>
		</div>
		<div class="expenses-items">
			<div class="expenses-item">
			    <div class="expenses-group">
				    <div class="progress">
					    <div class="progress-bar">
						    Название категории
					    </div>
				    </div>
				    <div class="balance-info">
					    <span class="current" style="color: #29a629;">300.00</span> из <span class="max">1000.00</span>
					    | осталось <span class="current-balance">700.00</span>(руб.)
				    </div>
			    </div>
			</div>
			<div class="expenses-item">
			    <div class="expenses-group">
				    <div class="progress sixty">
					    <div class="progress-bar">
						    Название категории
					    </div>
				    </div>
				    <div class="balance-info">
					    <span class="current" style="color: #e98426;">600.00</span> из <span class="max">1000.00</span>
					    | осталось <span class="current-balance">400.00</span>(руб.)
				    </div>
			    </div>
			</div>
			<div class="expenses-item">
			    <div class="expenses-group">
				    <div class="progress full">
					    <div class="progress-bar">
						    Название категории
					    </div>
				    </div>
				    <div class="balance-info">
					    <span class="current" style="color: #e73024;">1200.00</span> из <span class="max">1000.00</span>
					    | осталось <span class="current-balance" style="color: #e73024;">-200.00</span>(руб.)
				    </div>
			    </div>
			</div>
		</div>
	</div>
</div>
