<div class="planning">

  <header class="header">
    <div class="left">
      <h2>Страница планирования</h2>
    </div>
  </header>

  <div *ngIf="!isLoaded">Loading ...</div>

	<div class="expenses" *ngIf="isLoaded">
		<div class="expenses__header">
			<h4 class="title">Расходы</h4>
			<p class="common-balance">Общий остаток: <span>{{ bill.value | number:'1.2' }} Р</span></p>
		</div>
		<div class="expenses-items">
			<div class="expenses-item" *ngFor="let c of categories">
			    <div class="expenses-group">
				    <div class="progress">
					    <div class="progress-bar {{ getCategoryColorClass(c) }}" [ngStyle]="{width: getCategoryPercent(c)}">
						    {{ c.name }}
					    </div>
				    </div>
				    <div class="balance-info">
					    <span class="current-{{ getCategoryColorClass(c) }}">{{ getCategoryCost(c) | number:'1.2' }}</span> из <span class="max">{{ c.capacity | number:'1.2' }}</span>
					    | осталось <span class="current-balance-{{ getCategoryColorClass(c) }}">{{ c.capacity - getCategoryCost(c) | number:'1.2' }}</span>(руб.)
				    </div>
			    </div>
			</div>
			<!-- sixty, full -->
		</div>
	</div>
</div>
