<div class="planning">

  <header class="header">
    <div class="left">
      <h2>Страница планирования</h2>
    </div>
  </header>

  <div *ngIf="!isLoaded">Loading ...</div>

	<div class="expenses" *ngIf="isLoaded">
		<div class="expenses__header">
			<h4 class="title">Расходы</h4>
			<p class="common-balance">Общий остаток: <span>{{ bill.value | number:'1.2' }} Р</span></p>
		</div>
		<div class="expenses-items">
			<div class="expenses-item" *ngFor="let c of categories">
			    <div class="expenses-group">
				    <div class="progress">
					    <div class="progress-bar">
						    {{ c.name }}
					    </div>
				    </div>
				    <div class="balance-info">
					    <span class="current" style="color: #29a629;">{{ getCategoryCost(c) | number:'1.2' }}</span> из <span class="max">{{ c.capacity | number:'1.2' }}</span>
					    | осталось <span class="current-balance">{{ (c.capacity - getCategoryCost(c)) | number:'1.2' }}</span>(руб.)
				    </div>
			    </div>
			</div>
			<!--<div class="expenses-item">-->
			    <!--<div class="expenses-group">-->
				    <!--<div class="progress sixty">-->
					    <!--<div class="progress-bar">-->
						    <!--Название категории-->
					    <!--</div>-->
				    <!--</div>-->
				    <!--<div class="balance-info">-->
					    <!--<span class="current" style="color: #e98426;">600.00</span> из <span class="max">1000.00</span>-->
					    <!--| осталось <span class="current-balance">400.00</span>(руб.)-->
				    <!--</div>-->
			    <!--</div>-->
			<!--</div>-->
			<!--<div class="expenses-item">-->
			    <!--<div class="expenses-group">-->
				    <!--<div class="progress full">-->
					    <!--<div class="progress-bar">-->
						    <!--Название категории-->
					    <!--</div>-->
				    <!--</div>-->
				    <!--<div class="balance-info">-->
					    <!--<span class="current" style="color: #e73024;">1200.00</span> из <span class="max">1000.00</span>-->
					    <!--| осталось <span class="current-balance" style="color: #e73024;">-200.00</span>(руб.)-->
				    <!--</div>-->
			    <!--</div>-->
			<!--</div>-->
		</div>
	</div>
</div>
