<nav>
  <ul class="page-items">
    <li class="page-item">
      <a [routerLink]="['/system', 'bill']" routerLinkActive="active">
        <i class="fa fa-calendar-alt"></i>
        Счёт
      </a>
    </li>
    <li class="page-item">
      <a [routerLink]="['/system', 'history']" routerLinkActive="active">
        <i class="fa fa-history"></i>
        История
      </a>
    </li>
    <li class="page-item">
      <a [routerLink]="['/system', 'planning']" routerLinkActive="active">
        <i class="fa fa-clipboard"></i>
        Планирование
      </a>
    </li>
    <li class="page-item">
      <a [routerLink]="['/system', 'records']" routerLinkActive="active">
        <i class="fa fa-plus-square"></i>
        Запись
      </a>
    </li>
  </ul>
</nav>
