<div class="records">
  <header class="header">
    <div class="left">
      <h2>Страница истории</h2>
    </div>
  </header>

  <div *ngIf="!isLoaded">
    Loading ...
  </div>

  <div *ngIf="isLoaded">
    <div class="wrap">
      <div class="add-event">
        <mel-add-event></mel-add-event>
      </div>

      <div class="add-category">
        <mel-add-category (onCategoryAdd)="newCategoryAdded($event)"></mel-add-category>
      </div>
    </div>

    <div class="wrap">
      <div class="add-category">
        <mel-edit-category (onCategoryEdit)="categoryWasEdited($event)" [categories]="categories"></mel-edit-category>
      </div>
    </div>
  </div>
</div>
