<div class="head">
  Добавить категорию
</div>

<form>
  <div class="form-group">
    <label for="name" class="form-group__label">Введите название</label>
    <input type="text" class="form-group__input" id="name" placeholder="Название">
  </div>

  <div class="form-group">
    <label for="limit" class="form-group__label">Введите лимит</label>
    <input type="text" class="form-group__input" id="limit" placeholder="0">
  </div>

  <div class="form-group">
    <button type="submit" class="form-group__submit">Добавить</button>
  </div>
</form>
