<div class="head">
  Редактировать категорию
</div>

<div
  class="alert alert-{{message.type}}"
  *ngIf="message.text"
>{{message.text}}</div>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="e-select-category" class="form-group__label">Choose category</label>
    <select
      id="e-select-category"
      class="form-group__select"
      [(ngModel)]="currentCategoryId"
      (change)="onCategoryChange()"
      [ngModelOptions]="{standalone: true}"
    >
      <option
        *ngFor="let c of categories"
        [value]="c.id"
      >
        {{ c.name }}
      </option>
    </select>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': name.invalid && name.touched}"
  >
    <label for="e-name" class="form-group__label">Введите название</label>
    <input
      type="text"
      class="form-group__input"
      id="e-name"
      required
      [ngModel]="currentCategory.name"
      #name="ngModel"
      name="name"
    >
    <span
      class="form-group__help-text"
      *ngIf="name.invalid && name.touched"
    >
      Category's name is required.
    </span>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': capacity.invalid && capacity.touched}"
  >
    <label for="e-limit" class="form-group__label">Введите лимит</label>
    <input
      type="number"
      class="form-group__input"
      id="e-limit"
      [ngModel]="currentCategory.capacity"
      required
      #capacity="ngModel"
      name="capacity"
      min="1"
    >
    <span
      class="form-group__help-text"
      *ngIf="capacity.invalid && capacity.touched"
    >
      Field is required.
    </span>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="f.invalid" i class="form-group__submit">Редактировать</button>
  </div>
</form>
