<div class="listing">
  <div class="history-header">
    <h3 class="title">Список событий</h3>
    <form class="form">
      <input type="text" placeholder="Поиск...">
      <select name="select-param" id="select-param">
        <option value="param">Параметр</option>
      </select>
    </form>
  </div>

  <table class="history-items">
    <thead>
    <tr>
      <td>#</td>
      <td>Сумма</td>
      <td>Дата</td>
      <td>Категория</td>
      <td>Тип</td>
      <td>Действия</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><b>1</b></td>
      <td>44 444</td>
      <td>12.12.2017</td>
      <td>Товары</td>
      <td><span>Расход</span></td>
      <td><button>Открыть</button></td>
    </tr>
    <tr>
      <td><b>2</b></td>
      <td>33 333</td>
      <td>12.12.2017</td>
      <td>Отдых</td>
      <td><span>Доход</span></td>
      <td><button>Открыть</button></td>
    </tr>
    </tbody>
  </table>
</div>
