<h4>Курс</h4>
<table class="table">
  <thead class="table-thead">
  <tr class="table-thead-tr">
    <td class="table-thead-tr-td">Валюта</td>
    <td class="table-thead-tr-td">Курс</td>
    <td class="table-thead-tr-td">Дата</td>
  </tr>
  </thead>
  <tbody class="table-tbody">
  <tr class="table-tbody-tr">
    <td class="table-tbody-tr-td">доллар</td>
    <td class="table-tbody-tr-td">24</td>
    <td class="table-tbody-tr-td">12.12.2018</td>
  </tr>
  <tr class="table-tbody-tr">
    <td class="table-tbody-tr-td">евро</td>
    <td class="table-tbody-tr-td">26</td>
    <td class="table-tbody-tr-td">12.12.2018</td>
  </tr>
  <tr class="table-tbody-tr">
    <td class="table-tbody-tr-td">рубль</td>
    <td class="table-tbody-tr-td">0.4</td>
    <td class="table-tbody-tr-td">12.12.2018</td>
  </tr>
  </tbody>
</table>
