<h4>Курс</h4>
<table class="table">
  <thead class="table-thead">
    <tr class="table-thead-tr">
      <td class="table-thead-tr-td">Валюта</td>
      <td class="table-thead-tr-td">Курс</td>
      <td class="table-thead-tr-td">Дата</td>
    </tr>
  </thead>
  <tbody class="table-tbody">
    <tr class="table-tbody-tr">
      <td class="table-tbody-tr-td">RUB</td>
      <td class="table-tbody-tr-td">1</td>
      <td class="table-tbody-tr-td">{{ currency.date | melMoment:'YYYY-MM-DD' }}</td>
    </tr>
    <tr class="table-tbody-tr" *ngFor="let c of currencies">
      <td class="table-tbody-tr-td">{{ c }}</td>
      <td class="table-tbody-tr-td">{{ 1 / (currency.rates['RUB'] / currency.rates[c]) | number:'1.6'}}</td>
      <td class="table-tbody-tr-td">{{ currency.date | melMoment:'YYYY-MM-DD' }}</td>
    </tr>
  </tbody>
</table>
