@import './assets/styles/reset';

.wr {
  min-height: 100vh;
  background: #64666b;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  .form-group {
    margin: 10px 0;

    &__label, &__input, &__select {
      width: 100%;
      margin: 5px 0;
      padding: 10px 0;
      border: none;
      border-bottom: 1px solid lightgrey;
      font-size: 16px;
    }

    &__label {
      font-weight: 500;
      font-size: 18px;

      &-checkbox {
        border: none;
        margin-bottom: 15px;
        display: block;
      }
    }

    &__input, &__select {
      font-style: italic;
      outline: none;
    }

    &__submit {
      color: #fff;
      width: 100%;
      padding: 10px 0;
      font-size: 18px;
      border: 1px solid #0088b5;
      cursor: pointer;
      background: #11a8da;

      &:hover {
        background: #0f97c4;
      }

      &[disabled] {
        cursor: not-allowed;
        background: #91c3da;

        &:hover {
          background: #91c3da;
        }
      }
    }

    &.has-error {

      .form-group__input {
        border-color: red;
      }

      .form-group__help-text {
        color: red;
      }
    }
  }
}

// <AUTH STYLES>

.auth {
  flex-basis: 540px;
  margin: 0 auto;
  background: #fff;

  &-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;
    border-bottom: 1px solid deepskyblue;

    &__logo {
      flex-basis: 30%;
      align-self: center;

      img {
        max-width: 60%;
      }
    }

    &__text {
      flex-basis: 70%;
      align-self: center;
    }
  }

  .alert {
    &-danger,
    &-success {
      color: #fff;
      padding: 20px;
      font-size: 18px;
      border-radius: 5px;
      background: #ff3535;
    }

    &-success {
      background: #30ea14;
    }
  }

  &-content {
    padding: 35px 50px;

    &__text {
      text-align: center;
      font-size: 18px;
      color: darkslategrey;
      margin-bottom: 25px;
    }

    &__account {
      text-align: center;
      margin: 20px 0 0 0;
      font-size: 18px;
      color: #64666b;

      a {
        color: #0088b5;
        text-decoration: none;
      }
    }
  }
}

// </AUTH STYLES>

// ==================================================================

// <SYSTEM STYLES>

.system {
  overflow: hidden;
  max-height: 100vh;

  &-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &__logo,
    &__action {
      height: 85px;
      line-height: 80px;
      padding: 0 50px;
    }

    &__logo {
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      padding: 0 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #3a4058;

      img {
        width: 70px;
        margin-right: 15px;
      }

      span {
        color: #fff;
        font-size: 18px;
      }
    }

    &__action {
      -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: #e6e6e6;

      .time,
      .user-bar {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
      }

      .user-bar {
        text-align: right;

        b {
          cursor: pointer;
        }
      }
    }
  }

  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f9f9f9;
  }

  &-sidebar {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    height: calc(100vh - 85px);
    background: #3a4058;

    nav {
      .page-items {
        .page-item {
          i {
            margin-right: 15px;
          }

          a {
            color: #888888;
            font-size: 19px;
            padding: 20px 0 20px 30px;
            display: block;
            cursor: pointer;

            &.active,
            &:hover {
              background: #1cabd8;
              color: #d4d4d4;
            }
          }
        }
      }
    }
  }

  &-main {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    height: calc(100vh - 85px);
    overflow: auto;
    padding: 50px;

    //&-header {
    //  display: -webkit-box;
    //  display: -ms-flexbox;
    //  display: flex;
    //  padding-bottom: 20px;
    //  margin-bottom: 25px;
    //  border-bottom: 1px solid #d5d5d5;
    //
    //  .left,
    //  .right {
    //    -ms-flex-preferred-size: 50%;
    //    flex-basis: 50%;
    //  }
    //
    //  .left {
    //    h2 {
    //      font-weight: bold;
    //      font-size: 30px;
    //      color: #555;
    //    }
    //  }
    //
    //  .right {
    //    position: relative;
    //
    //    .reload-button {
    //      position: absolute;
    //      right: 0;
    //      top: 0;
    //      border: 1px solid #1cabd8;
    //      cursor: pointer;
    //      width: 35px;
    //      height: 35px;
    //      text-align: center;
    //      line-height: 35px;
    //      color: #1cabd8;
    //    }
    //  }
    //}

    .bill {

      .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid #d5d5d5;

        .left,
        .right {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
        }

        .left {
          h2 {
            font-weight: bold;
            font-size: 30px;
            color: #555;
          }
        }

        .right {
          position: relative;

          .reload-button {
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid #1cabd8;
            cursor: pointer;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            color: #1cabd8;
          }
        }
      }

      .data {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        &-bill,
        &-course {
          -ms-flex-preferred-size: 48.5%;
          flex-basis: 48.5%;
          padding: 20px 20px 40px 20px;
          background: #FFF;
          border: 1px solid #f2f2f2;
          box-shadow: 1px 1px 5px 0.1px #e2e2e2;

          h4 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
            color: #777;
          }
        }

        &-bill {
          h4 {
            margin-bottom: 5px;
          }

          &__item {
            padding: 20px;
            border-bottom: 2px solid #1cabd8;
            font-size: 18px;
            margin-bottom: 10px;

            i {
              color: #1cabd8;
              font-size: 25px;
              margin-right: 20px;
            }
          }
        }

        &-course {
          h4 {
            margin-bottom: 25px;
          }

          .table {
            display: block;
            width: 100%;

            &-thead {
              display: block;
              width: 100%;

              &-tr {
                border-top: 1px solid #f2f2f2;
                border-bottom: 1px solid #f2f2f2;
                display: block;
                padding: 15px;
                width: 100%;

                &-td {
                  display: inline-block;
                  font-weight: bold;
                  font-size: 18px;
                  color: #555;
                  width: 30%;
                }
              }
            }

            &-tbody {
              display: block;
              width: 100%;

              &-tr {
                display: block;
                padding: 15px;
                border-top: 1px solid #f2f2f2;
                width: 100%;

                &-td {
                  display: inline-block;
                  font-size: 18px;
                  color: #555;
                  width: 30%;
                }
              }
            }
          }
        }
      }
    }

    .planning {

      .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid #d5d5d5;

        .left,
        .right {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
        }

        .left {
          h2 {
            font-weight: bold;
            font-size: 30px;
            color: #555;
          }
        }

        .right {
          position: relative;

          .reload-button {
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid #1cabd8;
            cursor: pointer;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            color: #1cabd8;
          }
        }
      }

      .expenses {
        background: #fff;
        box-shadow: 1px 1px 5px 0.1px #e2e2e2;
        min-height: 250px;

        &__header {
          margin-bottom: 20px;
          border-bottom: 1px solid #e2e2e2;
          padding: 10px 20px;
          display: flex;

          .title,
          .common-balance {
            flex-basis: 50%;
          }

          .title {
            font-size: 26px;
            color: #555;
          }

          .common-balance {
            text-align: right;
            font-size: 28px;
            color: grey;

            span {
              color: #29a629;
            }
          }
        }

        &-items {
          display: flex;
          flex-wrap: wrap;
          padding: 0 20px;
        }

        &-item {
          flex-basis: 100%;
          margin-bottom: 15px;

          .expenses-group {
            display: flex;
            justify-content: center;
            align-items: center;

            .progress,
            .balance-info {
              flex-basis: 50%;
            }

            .progress {
              height: 25px;
              background: #f2f2f2;
              border-radius: 3px;
              display: inline-block;
              position: relative;
              box-shadow: inset 1px 2px 10px 0.1px #d2d2d2;

              &-bar {
                width: 30%;
                position: absolute;
                overflow: hidden;
                text-align: center;
                line-height: 25px;
                left: 0;
                top: 0;
                height: 100%;
                border-radius: 3px;
                background: rgba(96, 224, 28, 0.7);
              }

              &.sixty .progress-bar {
                width: 60%;
                background: rgba(224, 131, 20, 0.7);
              }

              &.full .progress-bar {
                width: 100%;
                background: rgba(224, 29, 10, 0.7);
              }
            }

            .balance-info {
              padding-left: 30px;
              font-size: 17px;
              color: #777;

              .max {
                color: dodgerblue;
              }

              .current-balance {
                color: #29a629;
              }
            }
          }
        }
      }
    }

    .history {

      .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid #d5d5d5;

        .left,
        .right {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
        }

        .left {
          h2 {
            font-weight: bold;
            font-size: 30px;
            color: #555;
          }
        }

        .right {
          position: relative;

          .reload-button {
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid #1cabd8;
            cursor: pointer;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            color: #1cabd8;
          }
        }
      }

      &__sales-length {
        padding: 25px 0 50px 0;
        margin-bottom: 50px;
        background: #fff;
        box-shadow: 1px 1px 5px 0.1px #e2e2e2;

        .img {
          background: url("./assets/img/store.jpg") no-repeat;
          height: 355px;
          width: 355px;
          background-size: cover;
          margin: 0 auto;
          text-align: center;

          p {
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            font-weight: 900;
            font-family: "Arial", sans-serif;
            text-transform: capitalize;
            font-size: 26px;

            span {
              font-weight: 400;
              font-size: 30px;
            }
          }
        }
      }

      .listing {
        box-shadow: 1px 1px 5px 0.1px #e2e2e2;

        .history-header, .history-items {
          background: #FFF;
        }

        .history-header {
          display: flex;
          padding: 5px 20px;
          border-bottom: 1px solid #d2d2d2;

          .title,
          .form {
            flex-basis: 50%;
            align-self: center;
          }

          .title {
            font-size: 18px;
          }

          .form {
            text-align: right;

            input,
            select {
              height: 35px;
              padding: 5px 0 5px 15px;
              outline: none;
              border: 1px solid #e2e2e2;
              border-radius: 5px;
              font-size: 18px;
            }

            select {
              padding-left: 5px;
            }
          }
        }

        .history-items {
          display: block;
          font-size: 16px;
          padding: 20px;

          thead {
            display: block;
            border-top: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            padding: 10px 20px;

            tr {
              display: block;

              td {
                display: inline-block;
                font-weight: bold;
                font-size: 18px;
                width: 17%;

                &:first-child {
                  width: 5%;
                }
              }
            }
          }

          tbody {
            display: block;

            tr {
              display: block;
              padding: 10px 20px 20px;
              border-top: 1px solid #d2d2d2;

              &:nth-child(odd) {
                background: #f9f9f9;

                td {
                  span {
                    background: red;
                  }
                }
              }

              td {
                display: inline-block;
                color: #777;
                width: 17%;
                font-size: 18px;

                &:first-child {
                  width: 5%;
                  color: black;
                  font-weight: bold;
                }

                span {
                  font-size: 15px;
                  color: #fff;
                  border-radius: 5px;
                  background: limegreen;
                  font-weight: bold;
                  padding: 1px 5px;
                }

                button {
                  border: 1px solid #1cabd8;
                  transition: all .1s ease;
                  color: #1cabd8;
                  cursor: pointer;
                  background: none;
                  padding: 10px 20px;
                  font-size: 18px;

                  &:hover {
                    background: #1cabd8;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }

    .records {

      .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid #d5d5d5;

        .left,
        .right {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
        }

        .left {
          h2 {
            font-weight: bold;
            font-size: 30px;
            color: #555;
          }
        }

        .right {
          position: relative;

          .reload-button {
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid #1cabd8;
            cursor: pointer;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            color: #1cabd8;
          }
        }
      }

      .wrap {
        display: flex;
        justify-content: space-between;

        .add-event,
        .add-category {
          flex-basis: 47.5%;
          background: #fff;
          box-shadow: 1px 1px 5px 0.1px #e2e2e2;

          .head {
            border-bottom: 1px solid #ccc;
            padding: 20px;
            font-size: 20px;
          }

          form {
            padding: 20px;
            font-size: 18px;

            .form-group {
              margin-bottom: 20px;

              &.type {
                margin-bottom: 30px;
              }

              &__input, &__select {
                border: 1px solid #ccc;
                border-radius: 5px;
              }

              &__input {
                padding-left: 10px;
              }

              &__label {
                border: none;
                display: block;
              }

              &__select {
                font-style: normal;
              }

              &__radio {
                display: block;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

// </SYSTEM STYLES>

@media screen and (max-width: 600px) {
  .auth {
    flex-basis: 90%;

    &-title {
      padding: 20px 0;

      &__logo {
        flex-basis: 100%;
        align-self: center;

        img {
          max-width: 30%;
        }
      }

      &__text {
        flex-basis: 100%;
      }
    }

    &-content {
      padding: 25px 25px;
    }
  }
}

@media screen and (max-width: 600px) {
  .auth {
    flex-basis: 90%;

    &-title {

      &__text {
        font-size: 25px;
      }
    }
  }
}
